.container-fluid{
    max-width: auto;
}
.container{
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    color:greenyellow
}
.content{
    margin: 3.2rem;
}